@font-face {
  font-family: "TT Commons PRO", sans-serif;
  src: local("TT Commons PRO"), url("/assets/fonts/tt_commons_pro_expanded_regular.otf") format("opentype"); }
@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: local("Roboto-Regular"), url("/assets/fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "GlacialIndifference-Regular", sans-serif;
  src: local("GlacialIndifference-Regular"), url("/assets/fonts/GlacialIndifference-Regular.otf") format("opentype"); }
body,
span {
  font-family: "TT Commons Regular", sans-serif;
  color: #4e5152;
  background-color: #f5f5f5; }

h1,
h2 {
  font-family: "GlacialIndifference-Regular", sans-serif; }

h3,
h4,
h5,
h6 {
  font-family: "Roboto-Regular", sans-serif; }

a {
  text-decoration: none; }

td {
  font-size: 14px; }

.commons {
  font-family: "TT Commons PRO", sans-serif !important; }

.roboto {
  font-family: "Roboto-Regular", sans-serif; }

.glacial {
  font-family: "GlacialIndifference-Regular", sans-serif; }

.color-primario {
  color: #0f69d4; }

.color-blanco {
  color: #f5f5f5; }

.bg-primario {
  background-color: #0f69d4; }

.accion {
  border: 2px solid #0f69d4;
  border-radius: 5px;
  padding: 5px 20px;
  color: #0f69d4;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.accion:hover {
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  padding: 5px 20px;
  color: #f5f5f5;
  background-color: #0f69d4;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: #f5f5f5 0px 0px 10px;
          box-shadow: #f5f5f5 0px 0px 10px; }

.hero {
  position: relative; }

.imagen-hero {
  -webkit-transition: visibility 0.5s linear, opacity 0.5s linear;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  width: 100%;
  height: 100vh;
  filter: opacity(50%);
  -webkit-filter: opacity(50%); }

.logoPortada {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto; }

.heroSubtitulo {
  position: absolute;
  top: 85%;
  left: 25%; }

.heroSubtitulo-2 {
  position: absolute;
  top: 85%;
  right: 25%; }

.heroSubtitulo-3 {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.heroSubtitulo-4 {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.logoAccion {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: auto; }

ul {
  list-style: none; }

ul li.dairmex::before {
  content: "";
  background-image: url("/assets/img/ok.png") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem; }

.img-accion {
  height: 100px;
  width: auto; }

.table > :not(caption) > * > * {
  color: #0f69d4;
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(15, 105, 212, 0.4); }

.renovaciones {
  color: #4e5152 !important; }

.img-accion-2 {
  height: 450px;
  width: 100%;
  border-radius: 15px; }

.accionFinal {
  color: #f5f5f5;
  border-radius: 15px;
  background-color: #0f69d4;
  padding: 15px 20px;
  font-size: 30px;
  border: 2px solid #f5f5f5;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.accionFinal:hover {
  color: #0f69d4;
  background-color: transparent;
  border: 2px solid #0f69d4;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media only screen and (max-width: 768px) {
  .heroSubtitulo {
    position: absolute;
    top: 85%;
    left: 15%; }

  .heroSubtitulo-2 {
    position: absolute;
    top: 85%;
    right: 15%; }

  .logoPortada {
    height: auto;
    width: 95%; }

  .heroSubtitulo-3 {
    top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }

  .logoAccion {
    display: none; }

  .heroSubtitulo-4 {
    bottom: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; } }
@media only screen and (max-width: 540px) {
  .heroSubtitulo,
  .heroSubtitulo-2 {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }

  .logoPortada {
    height: auto;
    width: 95%; }

  .heroSubtitulo-3 {
    top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }

  .logoAccion {
    display: none; }

  .heroSubtitulo-4 {
    bottom: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; } }
#topscroll {
  display: inline-block;
  background-color: #0f69d4;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }

#topscroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #f5f5f5; }

#topscroll:hover {
  cursor: pointer;
  background-color: rgba(15, 105, 212, 0.6); }

#topscroll:active {
  background-color: rgba(15, 105, 212, 0.8); }

#topscroll.show {
  opacity: 1;
  visibility: visible; }

/*# sourceMappingURL=estilos.css.map */